#canvas {
  background-image: url("http://www.astrolabium.edu.pl/system/files/hubble-space-wallpapers-for-desktop-background-13.jpg");
  background-size: cover;
}

.container {
  padding: 0px 300px;
  width: 1100px;
  padding-top: 10px;
  margin: 0 auto;
}

body {
  background-color: black;
  color: moccasin;
  font-family: sans-serif;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.header {
  text-align: center;
  font-size: 40px;
}

.instructions {
  font-family: sans-serif;
  font-style: bold;
  font-size: 18px;
  text-align: center;
}
